.row.columns
	%h1
		Header
	%form.row{method: 'post', action: '/'}
		.large-6.medium-6.columns
			%input{type: 'text', name: 'text', placeholder: 'Text'}
		.large-6.medium-6.columns
			%select{name: 'select'}
				%option
					Select
		.columns
			%button.button{type: 'submit'}
				Submit
.invert
	.float-left{'data-toggle' => 'main-navigation'}
		%button.menu-icon
	.row.columns
		%h2
			Inverted Section
	%form.row{method: 'post', action: '/'}
		.large-6.medium-6.columns
			%input{type: 'text', name: 'text', placeholder: 'Text'}
		.large-6.medium-6.columns
			%select{name: 'select'}
				%option
					Select
		.columns
			%button.button{type: 'submit'}
				Submit